---
import { getRelativeLocaleUrl } from 'astro:i18n';

---
    
    <header class="bg-gray-800 text-white p-4 flex justify-between items-center shadow-lg">
			<h1 class="text-4xl font-bold tracking-wide text-gradient bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-transparent">
				World by car
			</h1>
			<nav class="hidden md:flex space-x-6 text-lg">
				<a href={getRelativeLocaleUrl('en', 'posts')} class="font-semibold transition duration-300 hover:text-pink-500 transform hover:scale-105">Blog</a>
				<a href={getRelativeLocaleUrl('en', 'about')} class="font-semibold transition duration-300 hover:text-pink-500 transform hover:scale-105">About</a>
				<a href={getRelativeLocaleUrl('en', 'contact')} class="font-semibold transition duration-300 hover:text-pink-500 transform hover:scale-105">Contact</a>
				<div class="border-l border-gray-500 pl-4 flex space-x-2">
				<div class="font-semibold relative transition duration-300 hover:text-pink-500 transform hover:scale-105">
					EN
					<span class="absolute -top-4 -right-8 bg-red-500 text-white text-xs font-bold px-2 py-0.5 rounded-md uppercase">Soon</span>
				</div>

					<a href="/en" class="font-semibold transition duration-300 hover:text-pink-500 transform hover:scale-105">RU</a>
				</div>
			</nav>
			<!-- Mobile Menu Icon -->
			<button class="md:hidden focus:outline-none" id="menuButton">
				<svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>		
		</header>
		<div id="mobileMenu" class="hidden md:hidden relative mt-4 w-full bg-gray-800 text-center p-4 space-y-4 shadow-lg">
			<a href="/" class="block font-semibold transition duration-300 hover:text-pink-500">Home</a>
			<a href="/blog" class="block font-semibold transition duration-300 hover:text-pink-500">Blog</a>
			<a href="/about" class="block font-semibold transition duration-300 hover:text-pink-500">About</a>
			<a href="/contact" class="block font-semibold transition duration-300 hover:text-pink-500">Contact</a>
			<div class="flex justify-center space-x-4 border-t border-gray-500 pt-4">
				<a href="/en" class="font-semibold transition duration-300 hover:text-pink-500">EN</a>
				<a href="/ru" class="font-semibold transition duration-300 hover:text-pink-500">RU</a>
			</div>
		</div>


<script is:inline>
    const toggleMenu = () => {
        const mobileMenu = document.getElementById('mobileMenu');
        mobileMenu.classList.toggle('hidden');
    };

    document.getElementById('menuButton').addEventListener('click', toggleMenu);
</script>