<section class="pt-32 pb-16">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-bold text-white mb-4">Добро пожаловать в блог!</h1>
    <p class="text-xl text-gray-400 max-w-2xl">Исследуйте идеи, читайте мысли и документирование путешествий автора по разным уголкам земли. Пока что только Грузия :)</p>
    </div>
</section>