<section class="py-20">
    <div class="max-w-6xl mx-auto">
        <div class="relative flex justify-between items-center mb-12">
        <div class="relative group flex items-center">

            <h2 class="text-3xl font-semibold text-white">Инстаграм</h2>
            <svg class="w-4 h-4 text-gray-400 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm.75 5.25a.75.75 0 0 0-1.5 0v5.5a.75.75 0 0 0 1.5 0v-5.5zm-.75 9a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5z"/>
            </svg>

            <!-- Popup that appears on hover -->
            <div class="absolute top-full left-0 mt-2 w-48 p-2 bg-gray-800 text-white text-sm rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
            Является запрещённой соц. сетью в России
            </div>
        
        </div>
        </div>

      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        <a href="https://instagram.com/devmoek" target="_blank">
            <img src="https://images.pexels.com/photos/2759804/pexels-photo-2759804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Instagram post" class="w-full h-64 object-cover rounded-xl hover:opacity-75 transition-opacity cursor-pointer">
        </a>
        <a href="https://instagram.com/devmoek" target="_blank">
            <img src="https://images.pexels.com/photos/20178331/pexels-photo-20178331/free-photo-of-tavern-in-mtskheta-town-in-georgia.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Instagram post" class="w-full h-64 object-cover rounded-xl hover:opacity-75 transition-opacity cursor-pointer">
        </a>
        <a href="https://instagram.com/devmoek" target="_blank">
            <img src="https://images.pexels.com/photos/2990848/pexels-photo-2990848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Instagram post" class="w-full h-64 object-cover rounded-xl hover:opacity-75 transition-opacity cursor-pointer">
        </a>
        <a href="https://instagram.com/devmoek" target="_blank">
            <img src="https://images.pexels.com/photos/4916521/pexels-photo-4916521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Instagram post" class="w-full h-64 object-cover rounded-xl hover:opacity-75 transition-opacity cursor-pointer">
        </a>
      </div>
    </div>
</section>